* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: #f953c6;
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
  background: linear-gradient(to right, #b91d73, #f953c6);
}

h1 {
  margin-bottom: 0.5rem;
}

.input {
  font-size: 2rem;
  border: 1px solid #333;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 7em;
}

h1 {
  font-family: "Baskerville", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5rem;
  color: white;
  margin-bottom: 2rem;
  font-weight: normal;
}

select {
  font-size: 2rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-left: 1rem;
}

.equals {
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

footer {
  position: fixed;
  bottom: 2rem;
  width: 408px;
  left: calc(50vw - 204px);
  color: white;
}
